@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#fff0f0), color-stop(60%, #fff0f0), color-stop(60%, white));
  background: linear-gradient(to right, #fff0f0 0%, #fff0f0 60%, white 60%);
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.wraper {
  overflow: hidden;
}

.-container {
  max-width: 1040px;
  margin: 10px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-title {
  position: absolute;
  top: 0;
  left: 0;
  color: #f44647;
  font-size: 70px;
  max-width: 600px;
  margin-left: 50px;
}

.home-img {
  margin-left: 400px;
}

.home-img img {
  width: 600px;
  height: 500px;
}

.menu {
  margin: 80px 0px 0px 20px;
}

@media (max-width: 1350px) {
  .menu {
    margin: 80px 0px 0px 10px;
  }
}

@media (max-width: 1100px) {
  .menu {
    margin: 80px 0px 0px 0px;
  }
}

.menu-nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-title {
  margin-left: 38px;
  letter-spacing: 5px;
  border-bottom: 4px solid black;
  width: 167px;
  position: absolute;
  color: black;
}

.nav-list {
  list-style-type: none;
  margin-top: 50px;
}

.nav-item:not(:last-child) {
  margin-bottom: 15px;
}

.nav-link {
  color: #414040;
}

.form-meet {
  background-color: red;
  width: 1700px;
  height: 1000px;
}

a:hover {
  color: #f44647;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
