@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
	font-family: "Poppins", sans-serif;
	background: linear-gradient(to right, #fff0f0 0%, #fff0f0 60%, white 60%);
	font-size: 18px;
}
/*-----------обнуление ссылок*/
a {
	text-decoration: none;
}

/*-------------------Полотно*/
.wraper {
	overflow: hidden;
}

/*----------------------------------------------------страница 1:Home*/
.header-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
}

/*---------------------------------------Главная без меню*/
.home-page {
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	position: relative;
}
/*----------титулка*/
.home-title {
	position: absolute;
	top: 0;
	left: 0;
	color: #f44647;
	font-size: 45px;
	margin-left: 20px;
	max-width: 400px;
}
/*----------картинка*/
.home-img {
	margin-left: 140px;
}

/*----------------------------------------Главная Меню*/
.navigation-menu{
	position: fixed;
	margin-top: 50px;
	padding-right: 200px;
	right: 0;
	top: 50;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.navigation-menu a:hover{
	color:#f44647 ;
	transition: 0.3s ease-out;
}
/*--------титулка меню*/
.menu-title-link {
	margin-left: 60px;
	letter-spacing: 5px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}
/*-------список меню*/
.menu-list {
	margin: 30px 0px 0px 30px;
}
/*------маркер меню*/
.menu-item {
	list-style-type: none;
	margin-bottom: 15px;
}
/*------пункты меню*/
.menu-link {
	color: rgb(146, 146, 146);
	text-decoration: none;
	font-weight: bold;
}

/*-------------------------------------------страница 2:Form*/
.form-container {
	max-width: 900px;
}
/*-------------------титулка*/
.form-title {
	margin: 100px 50px 70px 0px;
	text-align: center;
	font-weight: bold;
}
/*-------------------таблица формы*/
.form-table {
	display: flex;
	justify-content: center;
}
/*-------------------ряд формы*/
.form-row {
	margin-bottom: 40px;
}
.form-row span{
	color: black;
	font-weight: bold;
	margin-left: 5px;
}
/*-------------------поле ввода*/
.row-field, .select-field, .text-field, .button {
	width: 580px;
	height: 40px;
	font-size: 16px;
	background-color: inherit;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 3px solid black;
	color: #757575;
}
.select-field {
	width: 588px;
}
.text-field {
	height: 100px;
}
/*-------------------кнопка формы*/
.button {
	cursor: pointer;
	height: 60px;
	border: 3px solid black;
	color: black;
	font-weight: bolder;	
	letter-spacing: 5px;
}

/*-------------------------------------------страница 3:Heare I'm*/
.Joke-container {
	max-width: 900px;
	margin: 100px 0px 70px 0px;
	text-align: center;
} 
/*---------------картинка страници*/
.Joke-img {
	width: 600px;
	justify-content: center;
}
/*-----------блок шутки*/
.api {
	margin:50px 0;
}
/*------------поле шутки*/
.api-frame {
	max-width: 580px;
	margin-bottom: 50px;
	border: none;
}
/*----------------------------------------Страница4:Pictures*/
.pictures {}

.pictures-container {
	text-align: center;
	max-width: 900px;
	margin-top: 100px;
}

.slider {
	width: 400px;
	height: 400px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 50px;
}

.slider-line {
	width: 2800px;
	height: 400px;
	display: flex;
	position: relative;
	left: 0;
	transition: all ease 1s;
}
.buttons {
	margin: 20px;
}
.slider-prev, .slider-next  {
	cursor: pointer;
	height: 40px;
	border: 3px solid black;
	color: black;
	font-weight: bolder;	
	letter-spacing: 5px;
	background-color: inherit;
	margin: 5px;
}