@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
	font-family: "Poppins", sans-serif;
	background: linear-gradient(to right, #fff0f0 0%, #fff0f0 60%, white 60%);
	font-size: 18px;
}
/*-----------обнуление ссылок*/
a {
	text-decoration: none;
}
/*---------контейнер*/
.-container{
	max-width: 1400px;
}
/*-------------------Media*/
/*@media screen and (min-width: 320px) and (max-width: 479px) {
	.header-container.-container {max-width: 120px;
}
	.navigation-menu{
		min-width: 400px;
		margin: 0;
		font-size: 10px;
	}
	.home-img {
	margin-top: 200px;
}
}
@media screen and (min-width: 480px) and (max-width: 639px) {
	.header-container.-container {max-width: 480px;
}
	.navigation-menu{
		font-size: 12px;
		min-width: 400px;
		margin: 0;
	}
	.home-img {
	margin-top: 200px;

}
}
@media screen and (min-width: 640px) and (max-width: 767px) {
	.header-container.-container {max-width: 640px;
}
	.navigation-menu{
		font-size: 12px;
		min-width: 400px;
		margin: 0;
	}
}
@media screen and (min-width: 768px) and (max-width: 799px) {
	.header-container.-container {
		max-width: 768px;
	}
	.navigation-menu{
		font-size: 12px;
		min-width: 400px;
		margin: 0;
	}
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
	.header-container.-container {
		max-width: 780px;
	}
	.navigation-menu{
		min-width: 400px;
		margin: 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1681px) {
	.header-container.-container {
		max-width: 1400px;
}
}*/

/*-------------------Полотно*/
.wraper {
	overflow: hidden;
}

/*----------------------------------------------------страница 1:Home*/
.header-container {
	display: flex;
	flex-wrap: wrap;
	min-height: 104px;
}
.header-container.-container {
}

/*---------------------------------------Главная без меню*/
.home-page {
	display: flex;
	flex-wrap: wrap;
	max-width:1000px;
	position: relative;
}
/*----------титулка*/
.home-title {
	position: absolute;
	top: 0;
	left: 0;
	color: #f44647;
	font-size: 20px;
	margin-left: 20px;
	max-width: 400px;
}
/*----------картинка*/
.home-img {
	margin-left: 140px;
}

/*----------------------------------------Главная Меню*/
.navigation-menu{
	position: fixed;
	margin-top: 50px;
	margin-left: 830px;
}
.menu{	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
/*--------титулка меню*/
.menu-title-link {
	margin: 20px 0px 0px 69px;
	letter-spacing: 5px;
	color: black;
	display: flex;
}
/*-------список меню*/
.menu-list {
	margin: 30px 0px 0px 30px;
}
/*------маркер меню*/
.menu-item {
	list-style-type: none;
}
.menu-item:not(:last-child){
	margin-bottom: 15px;
}
/*------пункты меню*/
.menu-link {
	color: rgb(146, 146, 146);
}

/*-------------------------------------------страница 2:Form*/
.form-container {
	max-width: 1000px;
}
.form-page 
/*-------------------титулка*/
.form-title {
	margin: 100px 50px 70px 0px;
	text-align: center;
}
.title {
}
/*-------------------таблица формы*/
.form-table {
	display: flex;
	justify-content: center;
}
/*-------------------ряд формы*/
.form-row {
	margin-bottom: 40px;
}
/*-------------------поле ввода*/
.row-field, .select-field, .text-field, .button {
	width: 580px;
	height: 40px;
	font-size: 16px;
	background-color: inherit;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 3px solid black;
	color: #757575;
}
.select-field {
	width: 588px;
}
.text-field {
	height: 100px;
}
/*-------------------кнопка формы*/
.button {
	cursor: pointer;
	height: 60px;
	border: 3px solid black;
	color: black;
	font-weight: bolder;	
	letter-spacing: 5px;
}

/*-------------------------------------------страница 3:Heare I'm*/
.Joke-container {
	max-width: 1000px;
} 
.Joke-page {
	margin: 100px 0px 70px 0px;
	text-align: center;
}
/*---------------картинка страници*/
.Joke-chuck {
	display: flex;
	justify-content: center;
}
.Joke-img {
	width: 600px;
}
/*-----------блок шутки*/
.api {
	margin:50px 0;
}
/*------------поле шутки*/
.api-frame {
	max-width: 580px;
	margin: 0px 0px 50px 210px;
	border: none;
}
/*-----------кнопка*/
.api-button 
/*----навидение на ссылки*/
a:hover{
	color:#f44647 ;
	transition: 0.3s ease-out;
}
